{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<p style="text-align: center;">Welcome , {{ user.get_username }} !!</p>
<h1>Your Tweet List</h1>
    <ul>
        {% for tweet in tweets %}
            <li>
                <p><a href="{% url 'tweets:detail' tweet.id %}">{{ tweet.body }}</a></p>
                <p>Created by: {{ tweet.creator.username }}</p>
                <p>Created at: {{ tweet.created }}</p>
            </li>
        {% endfor %}
    </ul>
    <li><a href="{% url 'tweets:create' %}">Create</a></li><li><a href="{% url 'tweets:create' %}">Create</a></li>
<li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
{% endblock %}
