{% extends "base.html" %} ← base.htmlを継承

{% block title %}Home{% endblock %} ← titleを入れる


{% block content %}
<h1>Homeです</h1>
<h1>Tweet List</h1>
    <ul>
        {% for tweet in tweets %}
            <li>
                <p><a href="{% url 'tweets:detail' tweet.id %}">{{ tweet.body }}</a></p>
                <p>Created by: {{ tweet.creator.username }}</p>
                <p>Created at: {{ tweet.created }}</p>
            </li>
        {% endfor %}
    </ul>
<li><a href="{% url 'accounts:user_profile' user.get_username %}">Sign up</a></li>
{% comment %} {% include '../accounts/user_profile.html' %} {% endcomment %}
{% endblock %}
