{% extends "base.html" %} 

{% block title %}Home{% endblock %} 


{% block content %}
<h1>Tweet List</h1>
    <ul>
        {% for tweet in object_list %}
            <li>
                <p><a href="{% url 'tweets:detail' tweet.id %}">{{ tweet.body }}</a></p>
                <p>Creator <a href = "{% url 'accounts:user_profile' tweet.creator.username%}"> {{ tweet.creator.username }}</a></p>
                <p>Created at: {{ tweet.created }}</p>
            </li>
        {% endfor %}
    </ul>
    <li><a href="{% url 'tweets:create' %}">Tweets Create</a></li>
{% endblock %}
